.hd1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
}
.hd1_c1 {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hd1_c2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}
.hd1_c1 p {
  
  color: rgb(27, 27, 27);
}

.hd1_c2 p {
  
  color: rgb(27, 27, 27);
}

.hd2 {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.hd2_c1 {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hd2_c2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}
.hd2_c1 p {
  
  color: rgb(27, 27, 27);
}

.hd2_c2 p {
  
  color: rgb(27, 27, 27);
}

.hd3 {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.hd3_c1 {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hd3_c2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}
.hd3_c1 p {
  
  color: rgb(27, 27, 27);
}

.hd3_c2 p {
  
  color: rgb(27, 27, 27);
}

.hd4 {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.hd4_c1 {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hd4_c2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 50px;
  gap: 50px;
}
.hd4_c1 p {
  
  color: rgb(27, 27, 27);
}

.hd4_c2 p {
  
  color: rgb(27, 27, 27);
}

.hd5 {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.hd5_c1 {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hd5_c2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}
.hd5_c1 p {
  
  color: rgb(27, 27, 27);
}

.hd5_c2 p {
  
  color: rgb(27, 27, 27);
}